http://gig-cloud4edge.aydo.com:6854 {
    bind 0.0.0.0
    gzip
    root www.cloud4edge.com
    git {
       repo git@github.com:0-complexity/www-cloud4edge.git -b production
       interval 300
       key ../keys/id_rsa
       path ../
       then hugo -s www.cloud4edge.com
    }
}
